html, body, input, ul, li, dl, dd, img {
    margin: 0;
    padding: 0
}
ul, li, dl, dd, ol {
    list-style: none
}
a {
    text-decoration: none
}
.main .middle .left, .main .middle .right {
    float: right;
    _display: inline
}
.main .middle {
    *zoom: 1
}
.main .middle:before, .main .middle:after {
    content: "";
    display: table
}
.main .middle:after {
    clear: both;
    overflow: hidden
}
#alertBox {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
}
body {
    background: #1b0d02
}
.gifts, .vip, .event {
    display: inline-block;
    height: 76px
}
.gifts {
    width: 251px
}
.vip {
    width: 244px
}
.event {
    width: 240px
}
.main {
    margin-top: -898px;
    background: url('/images/games/fs/official/footer.jpg?1458118145') 50% 898px no-repeat;
    font-family: 'Microsoft Yahei'
}
.main a {
    outline: none
}
.main .middle {
    width: 1115px;
    margin: 0 auto;
    position: relative
}
.main .middle .left {
    margin-right: -355px;
    margin-top: -52px;
    width: 100%
}
.main .middle .left .leftCon {
    margin-right: 355px;
    padding-top: 607px
}
.main .middle .right {
    width: 355px;
    margin-top: -52px;
    position: relative;
    z-index: 2
}
#alertBox {
    width: 233px;
    height: 151px;
    padding-left: 60px;
    padding-top: 70px;
    padding-left: 60px;
    padding-right: 60px;
    background: url('/images/games/fs/official/aside/alertBox.png?1458118141') no-repeat;
    font-size: 21px;
    font-family: 'Trajan Pro';
    display: none
}
#alertBox .text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-align: center
}
#alertBox .close {
    position: absolute;
    top: 17px;
    right: 24px;
    font-size: 20px;
    color: #fff;
    cursor: pointer
}